<div class="center"><span class="light">Communicator<span class="dark">App</span></div>
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
        </label>
        
        <a href="#" class="menu-item blue"> <i class="fa fa-anchor"></i> </a>
        <a href="#" class="menu-item green"> <i class="fa fa-coffee"></i> </a>
        <a href="#" class="menu-item red"> <i class="fa fa-heart"></i> </a>
        <a href="#" class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
        <a href="#" class="menu-item orange"> <i class="fa fa-star"></i> </a>
        <a href="#" class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>
    </nav>

    <!-- FOOTER -->
    <footer>
        <a href="https://github.com/gquinn1011">
            <img src="assets/images/fire_orange_pepper.png" width="64px" height="64px">
        </a>

        <a href="https://github.com/amir-dwekat">
            <img src="assets/images/green_pepper.png" width="64px" height="64px">
        </a>

        <a href="https://github.com/matthew-lorber">
            <img src="assets/images/orange_half_pepper.png" width="64px" height="64px">
        </a>

        <a href="https://github.com/darkcypher777">
            <img src="assets/images/red_devil_pepper.png" width="64px" height="64px">
        </a>
    </footer>

</div>
        
